@using Newtonsoft.Json
@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;

    List<string> rollAccessList = new List<string>();

    if (TempData["RollAccess"] != null)
    {
        string serializedList = TempData["RollAccess"].ToString();
        rollAccessList = JsonConvert.DeserializeObject<List<string>>(serializedList);
    }
}


<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="background-image: linear-gradient(86.3deg,#006cbe ,#006cbe);">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div> 

  @* ! Full version menu-items *@

  
  <ul class="menu-inner py-1">
    <!-- Stock Management -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/StellarBilling/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-archive-in"></i>
           
        <div>Stock Management</div>
      </a>

      @if (rollAccessList != null)
{
                @if (rollAccessList.Contains("CategoryMasterModel"))
                {
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/StellarBilling/CategoryMasterModel" ? " active" : "")'>
                    <a asp-controller="StellarBilling" asp-action="CategoryMasterModel" class="menu-link">
                        <div style="color:#99C4E5">Category Master</div>
          </a>
        </li>
        </ul>
        }
}
 @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("ProductMasterModel"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/ProductMasterModel" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="ProductMasterModel" class="menu-link">

                                <div>Product Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("CustomerMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/CustomerMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="CustomerMaster" class="menu-link">

                                <div>Customer Master </div>
                            </a>
                        </li>
                    </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("DiscountCategoryMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/DiscountCategoryMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="DiscountCategoryMaster" class="menu-link">

                                <div>Discount Category Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("GSTMasterModel"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/GSTMasterModel" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="GSTMasterModel" class="menu-link">

                                <div>GST Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }
            @*  <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/VoucherCustomerDetails" ? " active" : "")'>
                        <a asp-controller="StellarBilling" asp-action="VoucherCustomerDetails" class="menu-link">

                        <div style="color:cornflowerblue">Voucher Customer Details</div>
                        </a>
                    </li>
                </ul> *@

            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("NetDiscountMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/NetDiscountMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="NetDiscountMaster" class="menu-link">

                                <div>Net Discount Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

            
            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("PointsMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/PointsMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="PointsMaster" class="menu-link">

                                <div>Points Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }
            @*   <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/PointsReedemDetails" ? " active" : "")'>
                        <a asp-controller="StellarBilling" asp-action="PointsReedemDetails" class="menu-link">

                        <div style="color:cornflowerblue">Points Reedem Details</div>
                        </a>
                    </li>
                </ul> *@

            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("RackMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/RackMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RackMaster" class="menu-link">

                                <div>Rack Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

            
            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("RackPatrionProduct"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/RackPatrionProduct" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RackPatrionProduct" class="menu-link">

                                <div>Rack Patrion Product</div>
                            </a>
                        </li>
                    </ul>
                }
            }
            @*  <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/VoucherMaster" ? " active" : "")'>
                        <a asp-controller="StellarBilling" asp-action="VoucherMaster" class="menu-link">

                        <div style="color:cornflowerblue">Voucher Master</div>
                        </a>
                    </li>
                </ul> *@

            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("StaffAdmin"))
                {

                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/StaffAdmin" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="StaffAdmin" class="menu-link">

                                <div>Staff Admin</div>
                            </a>
                        </li>
                    </ul>
                }
            }
              @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("ResourceTypeMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/ResourceTypeMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="ResourceTypeMaster" class="menu-link">

                                <div>Resource Type Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("RollAccessMaster"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/RollAccessMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RollAccessMaster" class="menu-link">

                                <div>Roll Access Master</div>
                            </a>
                        </li>
                    </ul>
                }
            }

              @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("RoleAccess"))
                {

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/RoleAccess" ? " active" : "")'>
                    <a asp-controller="StellarBilling" asp-action="RoleAccess" class="menu-link">

                        <div>Role Access</div>
                    </a>
                </li>
            </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("RollTypeMaster"))
                {

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/RollTypeMaster" ? " active" : "")'>
                    <a asp-controller="StellarBilling" asp-action="RollTypeMaster" class="menu-link">

                        <div>Roll Type Master</div>
                    </a>
                </li>
            </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("ScreenMaster"))
                {
            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/ScreenMaster" ? " active" : "")'>
                    <a asp-controller="StellarBilling" asp-action="ScreenMaster" class="menu-link">

                        <div>Screen Master</div>
                    </a>
                </li>
            </ul>
                }
            }

             @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("GodownModel"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/StellarBilling/GodownModel" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="GodownModel" class="menu-link">

                                <div>GodownModel Stock</div>
                            </a>
                        </li>
                    </ul>
                }
            }
           

        </li>
                



        <ul class="menu-inner py-1">
            <!-- Billing Screen -->
            <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/StellarBilling/") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-credit-card"></i>
                  
                    <div>Payment Billing</div>
                </a>

                  @if (rollAccessList != null)
            {
                    @if (rollAccessList.Contains("CustomerBilling"))
                    {
                        <ul class="menu-sub">

                            <li class='menu-item@(currentPage == "/StellarBilling/CustomerBilling" ? " active" : "")'>
                                <a asp-controller="StellarBilling" asp-action="CustomerBilling" class="menu-link">

                                    <div>Customer Billing</div>
                                </a>
                            </li>
                        </ul>
                    }
                }
            </li>
       


        <ul class="menu-inner py-1">
            <!-- Report Screen-->
            <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Reports/") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div>Reports</div>
                </a>

                  @if (rollAccessList != null)
            {
                        @if (rollAccessList.Contains("Reports"))
                        {
                            <ul class="menu-sub">

                                <li class='menu-item@(currentPage == "/Reports/Reports" ? " active" : "")'>
                                    <a asp-controller="Reports" asp-action="Reports" class="menu-link">

                                        <div>Reports</div>
                                    </a>
                                </li>
                            </ul>
                        }
                    }

            </li>
        </ul>
        </ul>
        
</aside>
<!-- / Menu -->
