@using Newtonsoft.Json
@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;

    List<string> rollAccessList = new List<string>();

    if (TempData["RollAccess"] != null)
    {
        string serializedList = TempData["RollAccess"].ToString();
        rollAccessList = JsonConvert.DeserializeObject<List<string>>(serializedList);
    }
}

<aside style="margin-left:2px" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div  class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Home" asp-action="Index" class="app-brand-link">
          @*   <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span> *@
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("BranchName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>


    <!-- Menu -->
    @* ! Full version menu-items *@


    <ul class="menu-inner py-1">
        <!-- Stock Management -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/StockManagement") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-archive-in"></i>

                <div>Stock Management</div>
            </a>

            <ul class="menu-sub">

                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("BranchMaster"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/BranchMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="BranchMaster" class="menu-link">

                                <div>Branch Master </div>
                            </a>
                        </li>

                    }
                }


                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("CategoryMasterMT"))
                    {

                        <li class='menu-item@(currentPage == "/CategoryMasterMT/CategoryMasterMT" ? " active" : "")'>
                            <a asp-controller="CategoryMasterMT" asp-action="CategoryMasterMT" class="menu-link">
                                <div>Category Master</div>
                            </a>
                        </li>

                    }
                }

                 @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("SizeMasterMT"))
                    {
                <li class='menu-item@(currentPage == "/SizeMasterMT/SizeMasterMT" ? " active" : "")'>
                    <a asp-controller="SizeMasterMT" asp-action="SizeMasterMT" class="menu-link">
                                <div>Size Master</div>
                            </a>
                        </li>
                    }
                }

                  @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("BrandMasterMT"))
                    {
                <li class='menu-item@(currentPage == "/BrandMasterMT/BrandMasterMT" ? " active" : "")'>
                    <a asp-controller="BrandMasterMT" asp-action="BrandMasterMT" class="menu-link">
                        <div>Brand Master</div>
                    </a>
                </li>
                    }
                }

                   @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("ProductMasterMT"))
                    {
                <li class='menu-item@(currentPage == "/ProductMasterMT/ProductMasterMT" ? " active" : "")'>
                    <a asp-controller="ProductMasterMT" asp-action="ProductMasterMT" class="menu-link">

                                <div>Product Master</div>
                            </a>
                        </li>
                    }
                }

                
                   @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("ProductInwardMT"))
                    {
                <li class='menu-item@(currentPage == "/ProductInwardMT/ProductInwardMT" ? " active" : "")'>
                    <a asp-controller="ProductInwardMT" asp-action="ProductInwardMT" class="menu-link">

                        <div>Product Inward</div>
                    </a>
                </li>
                    }
                }
                    
                


               @*  @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("DiscountCategoryMaster"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/DiscountCategoryMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="DiscountCategoryMaster" class="menu-link">

                                <div>Discount Category Master</div>
                            </a>
                        </li>

                    }
                }
 *@

                @*  <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/VoucherCustomerDetails" ? " active" : "")'>
                <a asp-controller="StellarBilling" asp-action="VoucherCustomerDetails" class="menu-link">

                <div style="color:cornflowerblue">Voucher Customer Details</div>
                </a>
                </li>
                </ul> *@

               @*  @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("NetDiscountMaster"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/NetDiscountMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="NetDiscountMaster" class="menu-link">

                                <div>Net Discount Master</div>
                            </a>
                        </li>

                    }
                } *@

                @*   <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/PointsReedemDetails" ? " active" : "")'>
                <a asp-controller="StellarBilling" asp-action="PointsReedemDetails" class="menu-link">

                <div style="color:cornflowerblue">Points Reedem Details</div>
                </a>
                </li>
                </ul> *@



@* 
                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("RackPatrionProduct"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/RackPatrionProduct" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RackPatrionProduct" class="menu-link">

                                <div>Rack Partition Product</div>
                            </a>
                        </li>

                    }
                } *@

                @*  <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/StellarBilling/VoucherMaster" ? " active" : "")'>
                <a asp-controller="StellarBilling" asp-action="VoucherMaster" class="menu-link">

                <div style="color:cornflowerblue">Voucher Master</div>
                </a>
                </li>
                </ul> *@

                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("StaffAdmin"))
                    {



                        <li class='menu-item@(currentPage == "/StaffAdmin/StaffAdmin" ? " active" : "")'>
                            <a asp-controller="StaffAdmin" asp-action="StaffAdmin" class="menu-link">

                                <div>Staff Admin</div>
                            </a>
                        </li>

                    }
                }
              
                @*  @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("ResourceTypeMaster"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/ResourceTypeMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="ResourceTypeMaster" class="menu-link">

                                <div>Resource Type Master</div>
                            </a>
                        </li>

                    }
                }
 *@
                @* @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("RollAccessMaster"))
                    {

                        <li class='menu-item@(currentPage == "/StockManagement/RollAccessMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RollAccessMaster" class="menu-link">

                                <div>Roll Access Master</div>
                            </a>
                        </li>

                    }
                } *@

                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("RoleAccess"))
                    {



                        <li class='menu-item@(currentPage == "/StockManagement/RoleAccess" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RoleAccess" class="menu-link">

                                <div>Role Access</div>
                            </a>
                        </li>

                    }
                }

                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("RollTypeMaster"))
                    {



                        <li class='menu-item@(currentPage == "/StockManagement/RollTypeMaster" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="RollTypeMaster" class="menu-link">

                                <div>Roll Type Master</div>
                            </a>
                        </li>

                    }
                }

                @if (rollAccessList != null)
                {
                    @if (rollAccessList.Contains("GodownModel"))
                    {


                        <li class='menu-item@(currentPage == "/StockManagement/GodownModel" ? " active" : "")'>
                            <a asp-controller="StellarBilling" asp-action="GodownModel" class="menu-link">

                                <div>Godown Stock Master</div>
                            </a>
                        </li>


                    }
                }
            </ul>
        </li>

         @if (rollAccessList != null)
        {
            @if (rollAccessList.Contains("Customer"))
            {


                <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Customer") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-credit-card"></i>

                        <div>Customer</div>
                    </a>

                    <ul class="menu-sub">

                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("CustomerMaster"))
                            {


                                <li class='menu-item@(currentPage == "/CustomerMaster/CustomerMaster" ? " active" : "")'>
                                    <a asp-controller="CustomerMaster" asp-action="CustomerMaster" class="menu-link">

                                        <div>Customer Master </div>
                                    </a>
                                </li>

                            }
                        }

                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("RepledgeMaster"))
                            {

                                <li class='menu-item@(currentPage == "/CustomerMaster/RepledgeMaster" ? " active" : "")'>
                                    <a asp-controller="RepledgeMaster" asp-action="RepledgeMaster" class="menu-link">

                                        <div>Repledge Master </div>
                                    </a>
                                </li>
                            }
                        }

                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("PointsMaster"))
                            {


                                <li class='menu-item@(currentPage == "/Customer/PointsMaster" ? " active" : "")'>
                                    <a asp-controller="StellarBilling" asp-action="PointsMaster" class="menu-link">

                                        <div>Points Master</div>
                                    </a>
                                </li>

                            }
                        }
                    </ul>

                </li>
            }
        }
            
         @if (rollAccessList != null)
        {
            @if (rollAccessList.Contains("PaymentBilling"))
            {
                <!-- Billing Screen -->
                <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/PaymentBilling") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-credit-card"></i>

                        <div>Payment Billing</div>
                    </a>


                    <ul class="menu-sub">

                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("CustomerBilling"))
                            {


                                <li class='menu-item@(currentPage == "/PaymentBilling/CustomerBilling" ? " active" : "")'>
                                    <a asp-controller="StellarBilling" asp-action="CustomerBilling" class="menu-link">

                                        <div>Customer Billing</div>
                                    </a>
                                </li>

                            }
                        }

                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("Billing"))
                            {

                                <li class='menu-item@(currentPage == "/Billing/Billing" ? " active" : "")'>
                                    <a asp-controller="Billing" asp-action="Billing" class="menu-link">

                                        <div> Billing</div>
                                    </a>
                                </li>
                            }
                        }


                        @if (rollAccessList != null)
                        {
                            @if (rollAccessList.Contains("PaymentBilling"))
                            {


                                <li class='menu-item@(currentPage == "/Payment/PaymentBilling" ? " active" : "")'>
                                    <a asp-controller="Payment" asp-action="PaymentBilling" class="menu-link">

                                        <div>Payment Screen</div>
                                    </a>
                                </li>
                            }
                        }



                    </ul>

                </li>
            }
        }




        <!-- Report Screen-->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Reports/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Reports</div>
            </a>

            @if (rollAccessList != null)
            {
                @if (rollAccessList.Contains("Reports"))
                {
                    <ul class="menu-sub">

                        <li class='menu-item@(currentPage == "/Reports/Reports" ? " active" : "")'>
                            <a asp-controller="Reports" asp-action="Reports" class="menu-link">

                                <div>Reports</div>
                            </a>
                        </li>
                    </ul>
                }
            }

        </li>

    </ul>


</aside>
<!-- / Menu -->
