@model StellarBillingSystem.Models.RollAccessMaster

@{
    ViewData["Title"] = "RollAccessMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: #fff; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>

<h1>RollAccessMaster</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleAccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating form-floating-outline mb-4">

                <input asp-for="StaffID" value="@Model.StaffID" class="form-control" placeholder="StaffID" />
                <label asp-for="StaffID" class="control-label">StaffID</label>
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">

                <input asp-for="RollID" value="@Model.RollID" class="form-control" placeholder="RollID" />
                <label asp-for="RollID" class="control-label">ScreenID</label>
                <span asp-validation-for="RollID" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <button type="submit" style="width:180px" value="Get" name="buttonType" class="btn btn-primary">Get</button>
                <button type="submit" style="width:180px" value="Save" class="btn btn-primary">Save</button>

                <button type="submit" style="width:180px" value="Delete" name="buttonType" class="btn btn-primary">Delete</button>
                <button type="submit" style="width:180px" value="DeleteRetrieve" name="buttonType" class="btn btn-primary">Delete Retrieve</button>

            </div>
        </form>
    </div>
</div>


