@model GSTMasterModel

@{
    ViewData["Title"] = "GSTMasterModel";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div style="background-color:#007bff">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright';margin-left:27%;">Tax Master</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="height:8%">
    </div>
    </br>
    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #e0efff 51%, #add5ff 100%);">

             
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="TaxID" class="form-control" placeholder="Tax ID" />
                    <label asp-for="TaxID" class="control-label"></label>
                    <span asp-validation-for="TaxID" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="SGST" class="form-control" placeholder="SGST" />
                    <label asp-for="SGST" class="control-label"></label>
                    <span asp-validation-for="SGST" class="text-danger"></span>
                </div>
          
           
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="CGST" class="form-control" placeholder="CGST" />
                    <label asp-for="CGST" class="control-label"></label>
                    <span asp-validation-for="CGST" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="OtherTax" class="form-control" placeholder="OtherTax" />
                    <label asp-for="OtherTax" class="control-label"></label>
                    <span asp-validation-for="OtherTax" class="text-danger"></span>
                </div>

                    </br >

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>


    
    <div class="form-group">
        <center>
            <button type="submit" style="width:180px" value="Create" asp-action="AddGST" class="btn btn-primary">Save</button>

        </center>
    </div>
    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }

</form>



