@model PointsMasterModel

@{
    ViewData["Title"] = "PointsMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<script>
    function showPopup(message) {
        var popup = document.getElementById("popupMessage");
        var popupText = document.getElementById("popupMessageText");
        var popupOKButton = document.getElementById("popupOKButton");

        popupText.textContent = message; // Set the message text
        popup.style.display = "block";

        popupOKButton.addEventListener("click", function () {
            popup.style.display = "none"; // Hide the popup when OK button is clicked
        });
    }

    function handleMessages(message) {
        showPopup(message);
    }
</script>

<div id="popupMessage" class="dividerblack popborder" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f0f0f0; color: #fff; padding: 30px; border-radius: 10px; z-index: 1000; display: none; text-align: center;">
    <span id="popupMessageText" style="display: block; margin-bottom: 10px;"></span>
    <button id="popupOKButton" style="padding: 10px 20px; color: white; border: none; border-radius: 5px; cursor: pointer;">OK</button>
</div>

<style>
    .popborder {
        border: 10px solid #fff;
    }
</style>

<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body dividerblack">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright';margin-left:27%;">Points Master</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />


    <div class="row" style="height:8%">
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body dividerblack">
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-9">
                            <div class="form-floating form-floating-outline mb-4">

                                        <input asp-for="NetPrice" class="form-control" placeholder="Net Price" value="@Model.NetPrice" pattern="^\d+$" title="Please enter a valid format. Only numbers are allowed"  required />
                                        <label asp-for="NetPrice" class="control-label">Net Price</label>
                                        <span asp-validation-for="NetPrice" class="text-danger"></span>
                                    </div>


                                    <div class="form-floating form-floating-outline mb-4">

                                        <input asp-for="NetPoints" class="form-control" placeholder="Net Point" value="@Model.NetPoints" pattern="^\d+$" title="Please enter a valid format. Only numbers are allowed" />
                                        <label asp-for="NetPoints" class="control-label">Net Point</label>
                                        <span asp-validation-for="NetPoints" class="text-danger"></span>
                                    </div>
                                </div>
                           
                            <div class="col-md-12 col-lg-3">

                                <div class="form-group">
                                    <center>
                                        <button type="submit" value="Create" class="btn btn-primary" asp-action="AddPoints">Save</button>

                                </center>
                            </div>

                        </div>
                    </div>
                    <br />

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />


    @if (ViewBag.Message != null)
    {
        <script>
            handleMessages("@ViewBag.Message");
        </script>
    }

</form>
