@model PointsReedemDetailsModel

@{
    ViewData["Title"] = "PointsReedemDetails";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<form asp-controller="StellarBilling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">Points Reedem Details</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="height:8%">
    </div>
    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                    <div class="form-floating form-floating-outline mb-4">
                        @{
                            var getcustomerid = ((IEnumerable<CustomerMasterModel>)ViewData["pointreedemcustomerid"])
                            .Select(m => new SelectListItem
            {
                Value = m.CustomerID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CustomerID} - {m.CustomerName}"
            });
                        }

                        @Html.DropDownListFor(model => model.CustomerID, getcustomerid, "Select Customer ID", new { @class = "form-control", required = "required" })
                        <label asp-for="CustomerID" class="control-label">Category ID</label>
                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>


                    <div class="form-floating form-floating-outline mb-4">

                        <input asp-for="TotalPoints" class="form-control" placeholder="Total Points" />
                <label asp-for="TotalPoints" class="control-label"></label>
                <span asp-validation-for="TotalPoints" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="ExpiryDate" class="form-control" placeholder="Expiry Date" type="date" />
                <label asp-for="ExpiryDate" class="control-label"></label>
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
                    <br />

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />

    <div class="form-group">
        <center>
            <button type="submit" value="Create" asp-action="Addpoinsredeem" class="btn btn-primary">Save</button>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </center>
    </div>
        </form>


