@model ProductSelectModel

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<form asp-controller="StellarBilling" asp-action="getcustomerbill">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">CustomerBilling</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" style="height:8%">
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-1">
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="ProductID" class="form-control" placeholder="ProductID" required />
                        <label asp-for="ProductID" class="control-label">ProductID</label>

                        <span asp-validation-for="ProductID" class="text-danger"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="BarcodeID" class="form-control" placeholder="BarcodeID" />
                        <label asp-for="BarcodeID" class="control-label"></label>

                        <span asp-validation-for="BarcodeID" class="text-danger"></span>
                    </div>


                </div>
            </div>
        </div>

        <center>

            <button type="submit" style="width:180px" value="Search" name="buttonType" class="btn btn-primary">Search</button>


        </center>
    </div>
    @if (ViewBag.Customer != null)
    {
        <div>
            <h3>Product List</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in ViewBag.Customers)
                    {
                        <tr>
                            <td>@customer.MobileNumber</td>
                            <td>@customer.PointsReedem</td>
                        </tr>
                        <tr>
                            <td>Add</td>
                            <td>Use</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <button type="submit" style="width:180px" value="Load" name="buttonType" class="btn btn-primary">Load</button>



    <div class="row" style="margin-top:40px">
        <div class="col-md-12 col-lg-1 ">
        </div>
        <div class="col-md-12 col-lg-1 ">
        </div>
    </div>
</form>
