@model RackPatrionProductModel

@{
    ViewData["Title"] = "RackPatrionProduct";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<form asp-controller="StellarBilling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">Rack Partition Product</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="height:8%">
    </div>
    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                    <div class="form-floating form-floating-outline mb-4">

                        <input asp-for="PartitionID" class="form-control" placeholder="Partition ID" required />
                        <label asp-for="PartitionID" class="control-label"></label>
                        <span asp-validation-for="PartitionID" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">

                        <input asp-for="ProductID" class="form-control" placeholder="Product ID" />
                <label asp-for="ProductID" class="control-label"></label>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="ProductName" class="form-control" placeholder="Product Name"/>
                <label asp-for="ProductName" class="control-label"></label>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">

                        <input asp-for="Rack" class="form-control" placeholder="Rack" />
                <label asp-for="Rack" class="control-label"></label>
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
                    <br />

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />

    <div class="form-group">
        <center>
            <button type="submit" value="Create" class="btn btn-primary" asp-action="AddRackPartition">Save</button>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </center>
    </div>

        </form>

