@model VoucherCustomerDetailModel

@{
    ViewData["Title"] = "VoucherCustomerDetails";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<form asp-controller="StellarBilling">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12 col-lg-2">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-body " style="background-color:#8c62c9">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="container">
                                    <h2 class="centered text-white" style="font-family:'Lucida Bright'">VoucherCustomerDetails</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" style="height:8%">
            </div>

            <div class="row gy-4">
                <div class="col-md-12 col-lg-2">
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                    <div class="form-floating form-floating-outline mb-4">
                <label asp-for="VoucherID" class="control-label"></label>
                        <input asp-for="VoucherID" class="form-control" placeholder="VoucherID" />
                <span asp-validation-for="VoucherID" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                <label asp-for="CustomerID" class="control-label"></label>
                        <input asp-for="CustomerID" class="form-control" placeholder="CustomerID" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
                    <div class="form-floating form-floating-outline mb-4">
                <label asp-for="ExpiryDate" class="control-label"></label>
                        <input asp-for="ExpiryDate" class="form-control" placeholder="ExpiryDate" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
                    <br />


                </div>
            </div>


        </div>


        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />
    <div class="form-group">
        <center>

            <button type="submit" style="width:180px" value="Create" asp-action="AddVoucherDetails" class="btn btn-primary">Save</button>
            @*   <input type="submit" value="Create" class="btn btn-primary" /> *@
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">


                    @ViewBag.Message
                </div>
            }
        </center>
    </div>


</form>

