
 
<svg width="35" height="66" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="35" height="26" />
    <text x="-1" y="26" font-family="Georgia, sans-serif" font-weight="bold" font-size="30" fill="#9055fd" fill-opacity="0.9">S</text>
    &nbsp
    <text x="13" y="26" font-family="Georgia, sans-serif" font-weight="bold" font-size="30" fill="#9055fd" fill-opacity="0.9">B</text>
</svg> 


@* <!DOCTYPE html>
<html>
<body>
    <div>
        
        <img width="35" height="26" src="C:\Users\USER\Downloads" alt="Icon" />
        
    </div>
</body>
</html> *@
