@model AdminModel


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<script>
    // Prevent back navigation
    if (window.history && window.history.pushState) {
        window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.go(1);
        };
    }
</script>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                       
                            <center>
                                <h2>
                                    <span style="font-weight: bold; font-size: 30px; color:#fff">LEE</span>
                                    <span style="font-weight: normal;font-size: 24px; color:#fff">STORE</span>
                                </h2>
                            </center>
                        </a>
                    </div>
                    <!-- /Logo -->
                  


                    <form asp-controller="LoginAuthentication" asp-action="admin">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var branchlist = ((IEnumerable<BranchMasterModel>)ViewData["branchid"])
                                .Select(m => new SelectListItem
            {
                Value = m.BracnchID.ToString(),
                Text = $"{m.BracnchID} - {m.BranchName}"
            });
                            }

                            @Html.DropDownListFor(model => model.BranchID, branchlist, "Select Branch", new { @class = "form-control" })
                            <label asp-for="BranchID" class="control-label">Branch</label>
                            <span asp-validation-for="BranchID" class="text-danger"></span>
                        </div>


                        <div class="mb-3" style="margin-top:20px">
                            <button class="btn btn-primary d-grid w-100"  type="submit">Sign in</button>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">


                                    @ViewBag.Message
                                </div>
                            }
                        </div>
                    </form>

                   
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>





