@model AdminModel


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<script>
    // Prevent back navigation
    if (window.history && window.history.pushState) {
        window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.go(1);
        };
    }
</script>

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">

                            <center>
                                <h2 style="font-family: 'Baloo Thambi 2', cursive;text-align: center;font-size: 30px;color: #f1f1f1;text-shadow: 6px 8px 7px #4b0202;
">
                                    மலர் டெக்ஸ்டைல்ஸ்
                                </h2>
                                <h2 style="font-family: 'Baloo Thambi 2', cursive;text-align: center;font-size: 15px;color: #898c90;text-shadow: 4px 8px 8px #000;
}
">
                                    மொத்த  & சில்லறை வியாபாரம்

                                </h2>

                            </center>
                        </a>
                    </div>
                    <!-- /Logo -->



                    <form asp-controller="LoginAuthentication" asp-action="admin">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var branchlist = ((IEnumerable<BranchMasterModel>)ViewData["branchid"])
                                .Select(m => new SelectListItem
            {
                Value = m.BracnchID.ToString(),
                Text = $"{m.BranchName}"
            });
                            }

                            @Html.DropDownListFor(model => model.BranchID, branchlist, "Select Branch", new { @class = "form-control", required = "required" })
                            <label asp-for="BranchID" class="control-label">Branch</label>
                            <span asp-validation-for="BranchID" class="text-danger"></span>
                        </div>


                        <div class="mb-3" style="margin-top:20px">
                            <center>
                                <button class="btn btn-primarywhite mx-2" type="submit">Sign in</button>
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger">


                                        @ViewBag.Message
                                    </div>
                                }
                            </center>
                        </div>
                    </form>


                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>





